#logout,#changePassword {
  margin: 15px;
  margin-left: 0;
  }

  .intern {
    height: auto;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    font-family: 'Mali', cursive;
  }

  .intern ul {
    margin: 20px;
  }

  body {
    background-color: rgb(68, 66, 66);
    color: white;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .resume-form {
    padding: 10px;
    width: 90%;
    margin: auto;
  }

  form {
    margin: 0 !important;
  }

  h1 {
    font-family: 'Girassol', cursive;
  }

  .card {
    color: black !important;
  }

  .col-4 {
    padding: 0 !important;
  }

  .card:hover {
    cursor: pointer;
    animation: animate 0.1s forwards linear;
  }

  @keyframes animate {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0.8;
    }
  }

  a:hover {
    text-decoration: none;
  }